<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}Seu Título Padrão{% endblock %}</title>
    <!-- Seus links CSS e outros metadados vão aqui -->
</head>
<body class="login-form-body">
    <header>
        <!-- Seu cabeçalho ou navegação vai aqui -->
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <!-- Seu rodapé vai aqui -->
    </footer>
</body>
</html>
