<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>List Users</title>
</head>
<body class="home-body">
    <h1 class="home-h1">List of Users</h1>
    <ul>
        {% for user in users %}
            <li>
                {{ user.username }}
                <a class="home-a"  href="{% url 'delete_user' user.id %}">Excluir</a>
            </li><br><br><br><br>
        {% endfor %}
    </ul>
</body>
</html>
